<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>hello view</title>
  </head>
  <body>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/my-todo">My Todo</a></li>
      <li><a href="">Change Mode</a></li>
      <li><a href="/persons">Profile</a></li>
    </ul>
    <h1>Welcome to the TodoList built by NodeJS and Express</h1>
    <p>developed by Apirak19</p>
    <form action="/save-todo">
      <div>
        <label for="todo-name">What Todo</label>
        <input id="todo-name" type="text" />
      </div>
      <button type="submit">add</button>
    </form>
  </body>
</html>
