<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>hello view</title>
  </head>
  <body>
    <h1>Welcome to the TodoList built by NodeJS and Express</h1>
    <p>developed by <%= newBA.personName %> (<%= newBA.personAge %>)</p>
    
  </body>
</html>
