<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Todo</title>
  </head>
  <body>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/my-todo">My Todo</a></li>
      <li><a href="">Change Mode</a></li>
      <li><a href="/persons">Profile</a></li>
    </ul>
  </body>
</html>
