<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Persons</title>
  </head>
  <body>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/my-todo">My Todo</a></li>
      <li><a href="">Change Mode</a></li>
      <li><a href="/persons">Profile</a></li>
    </ul>

    <h1>Profile</h1>
    <hr />

    <div>
      <h2><%= newPersons[0].name %></h2>
      <p>first name: <%= newPersons[0].firstName %></p>
      <p>last name: <%= newPersons[0].lastName %></p>
    </div>
  </body>
</html>
